.forbttn {
    display: flex;
    gap: 20px;
    align-items: center;
}
.filepicker_input {
    visibility: hidden;
    position: absolute;
}

.creater {
    width: 140px;
    height: 76px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;

    color: black;

    &:hover {
        background-color: #0c0c0c26;
    }
    svg {
        height: 24px;
        width: 24px;
    }
    cursor: pointer;
}

.menuitem {
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
}
